<div ng-controller="mapCtrl">
	<div id="map" data-tap-disabled="true"></div>
	<div ng-show="load">
		<div class="col col-center">
			<ion-spinner></ion-spinner>
		</div>
		
	</div>
	<div ng-hide="load">
		<div class="row">
			<div class="col">
				<div class="list card">

					<a href="" ng-click="show()" class="item item-icon-left" >
						<i class="icon ion-ios-location"></i>
						<span > Mi Ubicación</span>
					</a>

					<a href="" ng-click="show(ads)" class="item item-icon-left" ng-repeat="ads in AllAddress track by ads.id">
						<i class="icon ion-ios-location"></i>
						<span ng-bind="ads.name"></span>
					</a>

				</div>
			</div>
		</div> 
	</div>
</div>